img{
    width: 200px;
}
*{
    margin: 0;}

.wrap{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: brown;
}
.wrap2{
    display: flex;
    flex-direction: row;
}
.users{
    background: tan;

}

.posts{
    background: tan;
}
.comments{
    background: tan;

}

.tag{
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}